/* reset */
ul,
li{
    list-style: none; 
}

body,
h1,h2,h3,p,ul,li,button{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(242, 242, 242, 1);
}

button{
    border:0;
    background: none;
    font: inherit;
    /* 버튼 선과 배경 없애고, 폰트는 부모태그에 상속받기! */
}

button:not(:disabled){
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}
/* header */
.wrap{

}

h1{
    font-size: 24px;
    text-align: center;

    width:650px;
    border-bottom: 2px solid rgb(68, 67, 67);
    padding-bottom: 37px;

    /* header가운데 정렬 */
    margin: auto;
}

.cinema-nav ul{
    display: flex;
    gap:20px;
    justify-content: center;
    margin-top: 18px;

}
/* class=activw로 버튼 반응형! */
.cinema-nav button{
    /* 버튼 더 누르기 쉽게 패딩주기 */
    padding: 10px 20px;
    color: #828282;
}
.cinema-nav button.active{
    font-weight: bold;
    color: #000;
}

/* main */
main{
    display:flex;
    gap:27px;
    justify-content: center;
    margin-top: 18px;
}

/* article */
.cinema-article{
    border: 1px solid #bdbdbd;
    box-shadow: 0px 0px 5px rgb(0,0,0,0.3);
    border-radius: 10px;

}
.cinema-content{
    padding:19px 20px 18px;
}
.cinema-content img{
    border:1px solid #bdbdbd;
    box-shadow: 0px 4px 4px rgb(0,0,0,0.3);
    border-radius: 10px;
    aspect-ratio: 180 /250;
    width: 100%;
    /* 이미지가 눌리지 않게 잘라내겠다, 자르지 않으려면 contain */
    object-fit: cover;
    }

.cinema-tit{
    font-size: 16px;
    margin: 12px 0;

    /* 말줄임? */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cinema-info{
    font-size: 13px;
    /* 개요와 평점 줄바꿈처리 */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

.cinema-info li:first-child{
    color: #828282;
    margin-right: 5px;
}
.cinema-info li:first-child{
}
.star{
    background: url();
}